.general{
    background-color: #50b454;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 40px;
    color: white;
}